@charset "UTF-8";
.footer, .mobile, .about, .favorite {
  padding-top: 50px;
}

.menu, .mobile, .about, .favorite, .enjoy {
  padding-bottom: 50px;
}

.footer__container, .menu__containter, .mobile__container, .about__container, .favorite__container, .enjoy__container, .header__container {
  margin: 0 auto;
  padding: 0 40px;
  max-width: 1360px;
}

.accent {
  font-style: italic;
  color: #b0907a;
}

.enjoy__title {
  font-size: 7.2rem;
  font-weight: 600;
  line-height: 7.6rem;
}

.footer__title, .menu__title, .mobile__title, .about__title, .favorite__title {
  font-size: 6rem;
  font-weight: 600;
  line-height: 7.5rem;
}

.card__title, .card__cost, .slide__cost, .slide__title, .footer__subtitle {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 3rem;
}

.card__description, .slide__description, .mobile__text, .enjoy__text {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
}

.button--app .button__text-topline {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.4rem;
}

.contact__text, .link__text,
.tab-item__content,
.button__text {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

@font-face {
  font-family: "Inter";
  src: url("../../asserts/fonts/Inter-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../../asserts/fonts/Inter-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
:root {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  pointer-events: none;
  transform: scale(0);
}

.header {
  padding: 20px 0;
  background-color: #e1d4c9;
}
.header__content {
  display: flex;
}
.header__logo, .header__logo-link {
  display: flex;
  width: 100px;
  height: 60px;
  pointer-events: none;
}
.header__logo-link {
  pointer-events: auto;
}
.header__nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.header__list {
  display: flex;
  margin-left: auto;
  column-gap: 40px;
}
.header__list-item {
  font-size: 0;
}
.header__link {
  margin-left: auto;
  font-size: 0;
}

.enjoy {
  background-color: #e1d4c9;
}
.enjoy__wrapper {
  position: relative;
  padding: 100px;
}
.enjoy__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../../asserts/images/background/hero.jpg") center/100% no-repeat;
  border-radius: 40px;
}
.enjoy__content {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 530px;
  row-gap: 40px;
  color: #e1d4c9;
}
.enjoy__link {
  max-width: 200px;
}

.favorite {
  background-color: #e1d4c9;
}
.favorite__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
}
.favorite__title {
  color: #403f3d;
}

.about {
  background-color: #e1d4c9;
}
.about__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
}
.about__title {
  color: #403f3d;
}
.about__photos {
  display: flex;
  width: 100%;
  column-gap: 40px;
}
.about__col {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  flex-basis: 100%;
}

.mobile {
  background-color: #e1d4c9;
}
.mobile__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobile__content {
  color: #403f3d;
  max-width: 630px;
}
.mobile__text {
  margin: 40px 0;
}
.mobile__links {
  display: flex;
  column-gap: 20px;
}
.mobile__image {
  width: 630px;
  height: 630px;
  background: url("../../asserts/images/background/mobile.png") center/100% no-repeat;
}

.menu {
  background-color: #e1d4c9;
}
.menu__content, .menu__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
}
.menu__title {
  max-width: 800px;
  color: #403f3d;
  text-align: center;
}
.menu__categories {
  display: flex;
  align-items: center;
  column-gap: 16px;
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.footer {
  padding-bottom: 40px;
  background-color: #e1d4c9;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
  border-radius: 40px;
  background-color: #665f55;
}
.footer__col {
  flex-basis: 530px;
}
.footer__title {
  display: flex;
  flex-direction: column;
  color: #e1d4c9;
}
.footer__social {
  display: flex;
  margin-top: 40px;
  column-gap: 12px;
}
.footer__subtitle {
  color: #e1d4c9;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  row-gap: 16px;
}
.footer__contact {
  font-size: 0;
}

.link {
  position: relative;
  display: inline-block;
  padding-bottom: 4px;
  color: #403f3d;
  text-decoration: none;
  overflow: hidden;
}
.link__content {
  display: flex;
  column-gap: 8px;
}
.link__icon {
  width: 20px;
  height: 20px;
}
.link::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  background-color: currentColor;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: width 500ms ease-out;
}

.link:focus {
  outline: none;
}

.link--inactive {
  pointer-events: none;
}

.link--inactive::after,
.link:hover::after {
  width: 100%;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  text-decoration: none;
  background-color: transparent;
  border-radius: 32px;
}
.button__content {
  display: flex;
  align-items: center;
  column-gap: 8px;
}
.button--secondary {
  padding: 20px 78px;
  width: 100%;
  color: #403f3d;
  background-color: #e1d4c9;
}
.button--secondary .button__content {
  position: relative;
}
.button--secondary .button__icon {
  position: absolute;
  top: 50%;
  right: -14px;
  translate: 0 -50%;
  width: 20px;
  height: 20px;
  opacity: 0;
  transition: 300ms ease-in;
}
.button--secondary .button__text {
  position: relative;
  right: 0;
  transition: 300ms ease-in;
}

.button--secondary:hover .button__icon {
  opacity: 1;
}
.button--secondary:hover .button__text {
  right: 14px;
}

.button--small {
  padding: 9px 77px;
  max-width: 200px;
  transition: 300ms ease-in;
}

.button--app {
  padding: 11px 19px;
  width: 200px;
  justify-content: flex-start;
  transition: 500ms ease-in;
}
.button--app .button__content {
  justify-content: flex-start;
}
.button--app .button__icon {
  width: 36px;
  height: 36px;
}
.button--app .button__text {
  display: flex;
  flex-direction: column;
}
.button--app .button__text-topline {
  margin-bottom: 2px;
}

.button--round {
  padding: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  transition: 500ms ease-out;
}
.button--round .button__icon {
  width: 24px;
  height: 24px;
}

.button--dark {
  border: 1px solid #665f55;
  color: #403f3d;
}

.button--dark:hover {
  color: #e1d4c9;
  background-color: #665f55;
}

.button--light {
  border: 1px solid #c1b6ad;
  color: #e1d4c9;
}

.button--light:hover {
  color: #403f3d;
  border-color: #e1d4c9;
  background-color: #e1d4c9;
}

.slide {
  display: flex;
  justify-content: center;
  width: 100%;
}
.slide__container {
  width: 100%;
  max-width: 480px;
}
.slide__imagebox {
  position: relative;
  padding-top: 100%;
  width: 100%;
}
.slide__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: center/100% no-repeat;
  background-image: url("../../asserts/images/slides/slide-1.png");
}
.slide__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  color: #403f3d;
  text-align: center;
  row-gap: 16px;
}
.bullet {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 4px;
  border-radius: 2px;
  background-color: #c1b6ad;
  overflow: hidden;
  cursor: pointer;
}
.bullet::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #665f55;
  transition-timing-function: linear;
  transition-duration: 100ms;
}

.bullet--active::after {
  width: 100%;
  pointer-events: none;
  transition-duration: 5000ms;
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
  max-width: 1360px;
}
.slider__container {
  position: relative;
  padding: 0 104px;
}
.slider__buttons {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 4px;
  right: 4px;
  translate: 0 -50%;
}
.slider__slides {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}
.slider__slide {
  flex-shrink: 0;
}
.slider__bullets {
  display: flex;
  column-gap: 12px;
}

.photo {
  position: relative;
  display: inline-block;
  border-radius: 20px;
  overflow: hidden;
}
.photo__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: center/110% no-repeat;
  transition: background-size 500ms ease-out;
}

.photo:hover .photo__image {
  background-size: 100%;
}

.tab-item {
  border: 1px solid #c1b6ad;
  padding: 7px 15px 7px 7px;
  background-color: transparent;
  border-radius: 100px;
  transition: 500ms ease-out;
}
.tab-item__content {
  display: flex;
  align-items: center;
  column-gap: 8px;
}
.tab-item__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #403f3d;
  width: 30px;
  height: 30px;
  background: center no-repeat #c1b6ad;
  border-radius: 50%;
  transition: 500ms ease-out;
}
.tab-item__caption {
  color: #403f3d;
  transition: 500ms ease-out;
}

.tab-item--active {
  pointer-events: none;
}

.tab-item--active,
.tab-item:hover {
  border-color: #665f55;
  background-color: #665f55;
}
.tab-item--active .tab-item__icon,
.tab-item:hover .tab-item__icon {
  background-color: #e1d4c9;
}
.tab-item--active .tab-item__caption,
.tab-item:hover .tab-item__caption {
  color: #e1d4c9;
}

.tab-item--coffee .tab-item__icon {
  background-image: url("../../asserts/images/icons/coffee.png");
}

.tab-item--tea .tab-item__icon {
  background-image: url("../../asserts/images/icons/tea.png");
}

.tab-item--dessert .tab-item__icon {
  background-image: url("../../asserts/images/icons/dessert.png");
}

.card {
  display: inline-flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 1px solid #c1b6ad;
  width: 310px;
  border-radius: 40px;
  overflow: hidden;
  cursor: pointer;
}
.card__imagebox {
  position: relative;
  padding: 100% 0 1px;
}
.card__image {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: 0;
  left: -1px;
  background: center/109.7% no-repeat border-box;
  border-radius: 40px;
  transition: background-size 500ms ease-out;
}
.card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 19px 19px;
  flex-grow: 1;
  color: #403f3d;
}
.card__info {
  margin-bottom: 12px;
}
.card__description {
  margin-top: 12px;
}

.card:hover .card__image {
  background-size: 100%;
}

.contact {
  position: relative;
  display: inline-block;
  padding-bottom: 4px;
  color: #e1d4c9;
  text-decoration: none;
  overflow: hidden;
}
.contact__content {
  display: flex;
  flex-direction: row-reverse;
  column-gap: 8px;
}
.contact__icon {
  width: 20px;
  height: 20px;
}
.contact::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  background-color: currentColor;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: width 500ms ease-out;
}

.contact--link:hover::after {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
