<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Button</title>
</head>
<body>
    <a class="button button--secondary" href="#">
        <span class="button__content">
            <svg class="button__icon">
                <use></use>
            </svg>
            <span class="button__text"></span>
        </span>
    </a>
    <button class="button button--dark button--small">
        <span class="button__content">
            <span class="button__text"></span>
        </span>
    </button>
    <a class="button button--dark button--app" href="#">
        <span class="button__content">
            <svg class="button__icon">
                <use></use>
            </svg>
            <span class="button__text">
                <span class="button__text-topline"></span>
            </span>
        </span>
    </a>
    <button class="button button--round button--dark">
        <span class="button__content">
            <svg class="button__icon">
                <use></use>
            </svg>
        </span>
    </button>
    <button class="button button--round button--light">
        <span class="button__content">
            <svg class="button__icon">
                <use></use>
            </svg>
        </span>
    </button>
</body>
</html>