<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Card</title>
</head>
<body>
    <div class="card">
        <div class="card__imagebox">
            <div class="card__image"></div>
        </div>
        <div class="card__content">
            <div class="card__info">
                <div class="card__title"></div>
                <div class="card__description"></div>
            </div>
            <div class="card__cost"></div>
        </div>
    </div>
</body>
</html>