<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Contact</title>
</head>
<body>
    <a class="contact contact--link" href="#">
        <span class="contact__content">
            <span class="contact__text"></span>
            <svg class="contact__icon">
                <use href=""></use>
            </svg>
        </span>
    </a>
    <div class="contact">
        <span class="contact__content">
            <span class="contact__text"></span>
            <svg class="contact__icon">
                <use href=""></use>
            </svg>
        </span>
    </div>
</body>
</html>