<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Slide</title>
</head>
<body>
    <div class="slide">
        <div class="slide__container">
            <div class="slide__imagebox">
                <div class="slide__image"></div>
            </div>
            <div class="slide__content">
                <p class="slide__title"></p>
                <p class="slide__description"></p>
                <p class="slide__cost"></p>
            </div>
        </div>
    </div>
</body>
</html>