.about {
    @extend %section-pt, %section-pb;

    background-color: $background-light;

    &__container {
        @extend %container;
    }

    &__content {
        @include flex($direction: column, $ai: center);

        row-gap: 40px;
    }

    &__title {
        @extend %heading-2;

        color: $text-dark;
    }

    &__photos {
        display: flex;
        width: 100%;
        column-gap: 40px;
    }

    &__col {
        display: flex;
        flex-direction: column;
        row-gap: 40px;
        flex-basis: 100%;
    }
}
