.photo {
    position: relative;
    display: inline-block;
    border-radius: 20px;
    overflow: hidden;
    
    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        background: center/110% no-repeat;
        transition: background-size 500ms ease-out;
    }
}

.photo:hover .photo__image {
    background-size: 100%;
}
