$color-white: #ffffff;
$color-black: #000000;
$color-brown: #b0907a;
$color-dark-xl: #403f3d;
$color-dark-md: rgba(64, 63, 61, 0.8);
$color-dark-lt: #665f55;
$color-light-xl: #e1d4c9;
$color-light-md: #c1b6ad;

$text-dark: $color-dark-xl;
$text-light: $color-light-xl;
$text-accent: $color-brown;
